body {
  margin: 0;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

header {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10px;
}

h1 {
  color: white;
  font-weight: 400;
}

.searchBar {
  background-color: white;
  width: 40%;
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: grey;
  border-radius: 15px;
}

.searchBar > input {
  border: 0;
  width: 90%;
  height: 80%;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  color: grey;
}

.searchBar > button {
  border: 0;
  width: 10%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
}

.searchBar > button:hover {
  background-color: hsl(0, 0%, 17%);
}

.infoContainer {
  background-color: white;
  width: 80%;
  position: absolute;
  top: 78%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-weight: 500;
  z-index: 1000;
}

.infoContainer .title {
  color: grey;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.infoContainer .content {
  font-size: 19px;
}

.infoDiv {
  padding: 30px;
  height: 60%;
}

.infoDiv + .infoDiv {
  position: relative;
}

.infoDiv + .infoDiv:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 25%;
  height: 50%;
  border-left: 1px solid rgb(173, 173, 173);
}

#mapid {
  height: 65%;
}

@media only screen and (max-width: 768px) {
  .infoContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    top: 53%;
  }

  .infoContainer .infoDiv::after {
    border: 0;
  }

  .searchBar {
    width: 70%;
  }

  .searchBar > button {
    width: 20%;
  }

  .infoDiv {
    padding: 10px 20px;
  }
}
